*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  background-color: #131313;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top:0;
  z-index:999;
}

.navbar__container{
  display:flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  padding: 0 50px;
}

#navbar__logo{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #FFF 0%, #e25328 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display:flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu{
  display:flex;
  align-items: center;
  list-style:none;
}
.navbar__item{
  height:80px;
}
.navbar__links{
  color: #fff;
  display:flex;
  align-items:center;
  justify-content: center;
  width:125px;
  text-decoration: none;
  height:100%;
  transition:all 0.3s ease;
}

.navbar__btn{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0 1rem;
  width:100%;
  transition: 0,35 ease-in;

}
.button{
  display:flex;
  justify-content: center;
  align-items:center;
  text-decoration:none;
  padding:10px 20px;
  height: 100%;
  width: 100%;
  border:none;
  outline:none;
  border-radius:4px;
  background: #833ab4;
  background:-webkit-linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  background:linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  color: #fff;
  transition: all 0.3s;
}

.navbar__links:hover{
  color:#9518fc;
  transition:all 0.3s ease;
}

@media screen and (max-width:960px){
  .navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width:1300px;
    padding:0;
  }

  .navbar__menu{
    display:grid;
    grid-template-columns: auto;
    margin:0;
    width:100%;
    position:absolute;
    top:-1000px;
    opacity:1;
    transition:all 0.5s ease;
    z-index:-1;
  }

  .navbar__menu.active{
    background: #131313;
    top:100%;
    opacity:1;
    transition: all 0.5s ease;
    z-index:99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo{
    padding-left:25px;
  }

  .navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background:#fff;

  }

  .navbar__item{
    width:100%
  }

  .navbar__links{
    text-align: center;
    padding:2rem;
    width: 100%;
    display:table;
  }

  .navbar__btn{
    padding-bottom: 2rem;
  }
  .button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    margin:0;
  }

  #mobile-menu{
    position:absolute;
    top:20%;
    right:5%;
    transform:translate(5%, 20%);
  }
  .navbar__toggle .bar{
    display:block;
    cursor:pointer;

 }
 #mobile-menu.is-active .bar:nth-child(2){
   opacity:0;
 }

 #mobile-menu.is-active .bar:nth-child(1){
  transform:translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  transform:translateY(-8px) rotate(-45deg);
}

}

.hero{
  background-color:#181818;
  padding: 200px 0;
}

.hero__container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height:90%;
  text-align: center;
  padding: 30px;
}

.hero__heading{
  color: #fff;
  font-size: 50px;

}
input[type=text] {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text]:focus {
  background-color: lightblue;
  border:3px solid #555
}
input[type=email] {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=email]:focus {
  background-color: lightblue;
  border:3px solid #555
}
button[type=submit],input[type=reset] {
  background: #833ab4;
  background:-webkit-linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  background:linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  color: #fff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}