*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top:0;
  z-index:999;
}

.navbar__container{
  display:flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  padding: 0 50px;
}

#navbar__logo{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #FFF 0%, #e25328 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display:flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu{
  display:flex;
  align-items: center;
  list-style:none;
}
.navbar__item{
  height:80px;
}
.navbar__links{
  color: #fff;
  display:flex;
  align-items:center;
  justify-content: center;
  width:125px;
  text-decoration: none;
  height:100%;
  transition:all 0.3s ease;
}

.navbar__btn{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0 1rem;
  width:100%;
  transition: 0,35 ease-in;

}
.button{
  display:flex;
  justify-content: center;
  align-items:center;
  text-decoration:none;
  padding:10px 20px;
  height: 100%;
  width: 100%;
  border:none;
  outline:none;
  border-radius:4px;
  background: #833ab4;
  background:-webkit-linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  background:linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  color: #fff;
  transition: all 0.3s;
}

.navbar__links:hover{
  color:#9518fc;
  transition:all 0.3s ease;
}

@media screen and (max-width:960px){
  .navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width:1300px;
    padding:0;
  }

  .navbar__menu{
    display:grid;
    grid-template-columns: auto;
    margin:0;
    width:100%;
    position:absolute;
    top:-1000px;
    opacity:1;
    transition:all 0.5s ease;
    z-index:-1;
  }

  .navbar__menu.active{
    background: #131313;
    top:100%;
    opacity:1;
    transition: all 0.5s ease;
    z-index:99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo{
    padding-left:25px;
  }

  .navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background:#fff;

  }

  .navbar__item{
    width:100%
  }

  .navbar__links{
    text-align: center;
    padding:2rem;
    width: 100%;
    display:table;
  }

  .navbar__btn{
    padding-bottom: 2rem;
  }
  .button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    margin:0;
  }

  #mobile-menu{
    position:absolute;
    top:20%;
    right:5%;
    transform:translate(5%, 20%);
  }
  .navbar__toggle .bar{
    display:block;
    cursor:pointer;

 }
 #mobile-menu.is-active .bar:nth-child(2){
   opacity:0;
 }

 #mobile-menu.is-active .bar:nth-child(1){
  transform:translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  transform:translateY(-8px) rotate(-45deg);
}

}

/* hero section*/

.hero{
  background-color:#181818;
  padding: 200px 0;
}

.hero__container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height:90%;
  text-align: center;
  padding: 30px;
}

.hero__heading{
  color: #fff;
  font-size: 50px;

}


.hero__heading span{
  font-size: 80px;
  background: -webkit-linear-gradient(to right, #F11712, #0099F7);
  background: linear-gradient(to right, #F11712, #0099F7);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;




}

.hero__description{
  background: #da22ff;
  font-size: 60px;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight{
  border-bottom: 4px solid rgb(132,0,255);

}

@media screen and (max-width: 768px){
  .hero__heading{
    font-size: 60px;
  }
  .hero__description{
    font-size:40px;
  }
}

/* about section */
.main{
  background-color: #131313;
  padding:10rem 0;
}

.main__container{
  display:grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-content:center;
  margin:0 auto;
  height: 90%;
  z-index: 1;
  max-width: 1300px;
  width:100%;
  padding:60px 60px;
}

.main__content{
  color: #fff;
  padding: 40px;
  width:100%;
}
.main__content h1{
  background-color: #f33b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

.main__content h2{
  background: #da22ff;  /* fallback for old browsers */
  font-size: 4rem;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p{
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 500;
  background: #da22ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn{
  font-size: 1.8rem;
  background: #833ab4;
  background:-webkit-linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  background:linear-gradient(to right,#fcb045, #fd1d1d,#833ab4);
  padding:30px 60px;
  border:none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor:pointer;
  position:relative;
  transition: all 0.35s;
  outline:none;
}

.main__btn a{
  color:#fff;
  text-decoration: none;
  z-index: 2;
  position:relative;
}

.main__btn:after{
  position:absolute;
  content:'';
  top:0;
  left:0;
  width:0;
  height:100%;
  background:#ff1ead;
  transition:all 0.35s;
  border-radius:4px;
}

.main__btn:hover{
  color:#FFF;
}

.main__btn:hover:after{
  width:100%;
}

.main__video--container{
  text-align: center;

}


@media screen and (max-width:1100px){
  .main__container{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width:100%;
    margin:0 auto;
    height:90%;
  }
  .main__video--container{
    display: flex;
    justify-content: center;
  }

  .main__content{
    text-align: center;
    margin-bottom: 4rem;
  }
  .main_content h1{
    font-size:2.5rem;
    margin-top:2rem;
  }

  .main_content h2{
    font-size:3rem;

  }

  .main_content p{
    margin-top:1rem;
    font-size:1.5rem;
  }
}

@media screen and (max-width:480px){
  .main__video{
    width:250px;
    height:250px;
    justify-content: center;
  }
  .main__content{
    text-align: center;
    margin-bottom: 4rem;
  }
  .main_content h1{
    font-size:20px;
    margin-top:3rem;
  }

  .main_content h2{
    font-size:0.5rem;

  }

  .main_content p{
    margin-top:2rem;
    font-size:1.5rem;
  }
  .main__btn{
    padding:12px 36px;
    margin:2.5rem 0;
  }
}


.services{
  background:#131313;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  padding:20rem 10rem;
}
.services a{
  text-decoration: none;
}
.services h1{
  background-color: #ff8177;
  background-image: linear-gradient(to right, #FFF 0%, #e25328 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  margin-bottom: 5rem;
  font-size: 3.5rem;
}

.services__wrapper{
  display:grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;;

}

.services__card{
  margin:10px;
  height: 425px;
  width:300px;
  border-radius:4px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#FFF;
  background-image: linear-gradient(to right, #e25328 0%, rgb(47, 127, 180) 100%);
  transition: ease-in 0.35s;

}
.services__card h2{
  text-align: center;
}
.services__card p{
  text-decoration: none;
  text-align: center;
  margin-top: 24px;
  font: 50px;
}
.services__card:hover{
  transform:scale(1.065);
  transition:0.3s ease-in;
  cursor:pointer;
}
.main p{
  font-size: 25px;
  padding:15px
}
.main h1{
  padding:15px
}
.main button{
  padding:15px
}

@media screen and (max-width:1300px){
  .services__wrapper{
    grid-template-columns: 1fr ;
  }
}
  .responsive {
    width: 100%;
    max-width: 680px;
    max-height: 420px;
    height: auto;
  }

  .pdescription{
    font-size: 13px;
  }

  .stats{
    background:#131313;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    padding:20rem 10rem;
  }
  .stats a{
    text-decoration: none;
  }
  .stats h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #FFF 0%, #e25328 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    margin-bottom: 5rem;
    font-size: 3.5rem;
  }

  .stats__wrapper{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;;
  
  }

  @media screen and (max-width:1300px){
    .stats__wrapper{
      grid-template-columns: 1fr ;
    }
  }